//-------------------VAR HERE--------------------
$mediumDevice: 768px;
$smallDevice: 450px;
$blackColor: #262626;
$gold: #ead628;
$turquoise: #00f0ff;
// ----------------------------------------------------------------
