//-------------------VAR HERE--------------------
$mediumDevice: 768px;
$smallDevice: 450px;
$blackColor: #262626;
$yellow: #ead628;
$blue: #00f0ff;
// ----------------------------------------------------------------
