@import "variables";

.button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;

  &-default {
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    width: 200px;
    height: 56px;
    background-color: transparent;
    color: $yellow;
    border: 2px solid $yellow;
    border-radius: 30px;
    @media (max-width: $mediumDevice) {
      width: 120px;
      height: 40px;
      font-size: 14px;
    }
  }
}
