@import "variables";

.poster-transition-container {
  position: relative;
  flex: 1;
}

.fade-enter {
  opacity: 1;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 0;
  transition: opacity 500ms linear;
}

/* exit */
.fade-exit {
  opacity: 0;
}
.fade-exit.fade-exit-active {
  opacity: 1;
  transition: opacity 500ms linear;
}
.fade-exit-done {
  opacity: 1;
}
